header{
        background-color: $color-headerfooterybordes;
        width: 100% ;
        height: 20vh ;
        position: sticky;
        top: 0;
        display: flex ;
        flex-direction: column !important;
        justify-content: center;
        align-items: center !important;
        padding-top: 10px ;
        padding-bottom: 15px;
        z-index: 1;
    h1{
        color: $color-letra;
        font: size 100px;
        font-style: oblique;
        margin-top: 5px;
    }
    .navbar{
        width: 100%;
        height: 5vh;
        padding: 0px;
        margin: 0px;
        color: $color-letra !important;
        div ul .nav-link{
            color: $color-letra !important;
        }
    }
    nav{
        ul{
            list-style: none;
            display: flex;
        }
        li{
            text-align: center;
            margin: 35px 10px 0px 10px;
        }
        a{
            padding: 5px;
            text-decoration: none;
            color: $color-letra;
            &:hover{
                background-color: $color-hover;
        }
        }

}

}

